*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

/* MAIN */

main{
    margin-top: 40px;
}

.download-app{
    display: flex;
    justify-content: center;
}

.download-app a{
    font-size: 16px;
    color: aquamarine;
}

.video-app{
    text-align: center;
    margin: 20px auto;
}